src/*.exe
src/RitzcoinPlus
src/RitzcoinPlusd
src/test_RitzcoinPlus
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.RitzcoinPlus

# Compilation and Qt preprocessor part
*.qm
Makefile
RitzcoinPlus-qt
RitzcoinPlus-Qt.app

# Unit-tests
Makefile.test
RitzcoinPlus-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
